#gallery-list .card {
  margin-bottom: 1rem;
}
#users-list .user-card {
  margin-bottom: 0.7rem;
  padding: 0.5rem;
  border: 1px solid #eee;
  border-radius: 6px;
}
.d-none {
  display: none !important;
}
